/* IMPOSTAZIONI GENERALI */
body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/sfondo.png);
  background-position-y: center;
  background-position-x: center;
  max-width: 500px;
  margin-bottom: 10px;
}

/* HEADER */
header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  width: 90vw;
  height: 33vh;
  background: linear-gradient(#0099cc, #006688);
  box-shadow: 10px 10px 10px rgb(66, 64, 64);
}
header h1 {
  font-weight: 500;
  font-size: large;
  color: white;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 20px;
}
header img {
  width: 250px;
  padding-left: 45px;
  margin-top: 30px;
}

header div a {
  color: white;
  width: 90;
  display: block;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 500;
  text-decoration: none;
}
img {
  width: 30vw;
}

/* MAIN */
main {
  padding-left: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  width: 90vw;
  background-color: white;
  padding-bottom: 15px;
}
main div div {
  padding-top: 5px;

  margin-top: 20px;
}
main div div {
  font-size: 1.5em;
  font-weight: 500;
}
main div div h1 {
  line-height: 1.5em;
  font-size: 1.2em;
}
div div p {
  padding-top: 2em;
  color: grey;
  font-size: 0.7em;
}
.text {
  padding-top: 1.5em;
}
.lista {
  padding-top: 1.5em;
}
main p {
  line-height: 1.5em;
  font-size: 1.1em;
  padding-top: 1em;
}
main p span {
  color: rgb(167, 33, 120);
}
main ul span {
  box-sizing: border-box;
  line-height: 1.5em;
  background-color: lightgray;
  border-radius: 5px;
  border: solid 1px darkgray;
}
main ul {
  padding-left: 2em;
  font-size: 1.1em;
}

.dol {
  line-height: 1.5em;
  padding-left: 2em;
  font-size: 1.1em;
  font-weight: 400;
}
th {
  background-color: blue;
  padding: 30px 25px 15px 25px;
  color: white;
  font-size: large;
  line-height: 1.5em;
  vertical-align: bottom;
}
main table {
  text-align: bottom;
}
h3 {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
a {
  color: rgb(61, 78, 179);
}

tr:nth-of-type(odd) {
  background-color: lightgray;
  border-top: grey;
  border-bottom: gray;
}
main div ol li:first-of-type {
  padding-top: 25px;
}

main div ul li:first-of-type {
  padding-top: 25px;
}
main div table td {
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-size: 1.2em;
}

main div h3 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 500;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bolder;
}

main div iframe {
  width: 98%;
  height: 205px;
  margin-top: 20px;
  border-radius: 25px;
}

/* TABELLE */

/* FORM */
.novità {
  padding-top: 20px;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  background-color: lightgray;
  font-size: 1em;
  margin-right: 15px;
}
h4 {
  font-size: 1.7em;
}
button {
  color: white;
  background-color: blue;
  margin-bottom: 20px;
}
main div div.novità p {
  padding-bottom: 20px;
  font-size: 1em;
  color: black;
}

h6 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
  font-weight: bolder;
}
main div div a {
  font-weight: bold;
}
main div div.artcor {
  background-color: lightgray;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: rgb(148, 146, 146);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 15px;
}
main div div.artcor p {
  padding-top: 5px;
  color: black;
}

main div div.artcor p:last-child {
  padding-top: 20px;
  text-align: end;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1em;
  background: linear-gradient(rgb(23 61 101), rgb(24 32 62));
  margin-left: 25px;
  margin-right: 15px;
}
footer h5 {
  padding-bottom: 20px;
}
footer a {
  color: rgb(165, 50, 141);
}
